@import "./variables.scss";

.header {
  align-items: center;
  border-bottom: 1px solid $transparent-black;
  height: 12rem;
}

.header-left-nav {
  gap: 4rem;
}

.header-right-nav {
  gap: 6rem;
  align-items: center;
  height: 100%;
}

.city-btn {
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed $special-black;
  margin: 0;
  padding: 0;
}

.header-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 6rem;
  position: relative;
}

.header-logo {
  position: absolute;
  top: -25%;
  width: 20rem;
  height: 6rem;
}

.header-menu {
  gap: 4rem;
  align-items: center;
}

.header-bucket {
  width: 5.5rem;
  fill: $blue;
}

.header-bucket:hover {
  svg {
    fill: $orange;
  }
}

/* languages dropdown  */
.lang-submenu {
  position: relative;
}

.lang-drop {
  position: absolute;
  display: none;
}

.lang-submenu:hover .lang-drop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-menu-icon {
  width: 3rem;
  height: 3rem;
  fill: $blue;
}

.header-menu-item-link {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}
.header-menu-item-link:hover {
  border-bottom: 1px solid $orange;
}
.header-menu-item-link:hover {
  svg {
    fill: $orange;
  }
}

.header-right-nav-list {
  height: 100%;
}

.header-menu-item {
  height: 100%;
}
