@import "./variables.scss";
@font-face {
  font-family: "AvenirNextCyr";
  src: url("../font/AvenirNextCyr-Medium.woff") format("woff"),
    url("../font/AvenirNextCyr-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("../font/AvenirNextCyr-Regular.woff") format("woff"),
    url("../font/AvenirNextCyr-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("../font/AvenirNextCyr-Demi.woff") format("woff"),
    url("../font/AvenirNextCyr-Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("../font/AvenirNextCyr-Bold.woff") format("woff"),
    url("../font/AvenirNextCyr-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "AvenirNextCyr";
}

.hidden {
  display: none;
}
@media (max-width: $breakpoint-md) {
  html {
    font-size: 2.5vw;
  }
}
