@import "../assets/scss/variables.scss";
.composition-container {
  font-style: normal;
  font-size: 5px;
  color: $special-black;
  @media (min-width: $breakpoint-md) {
    font-size: 7px;
  }
  @media (min-width: $breakpoint-xl) {
    font-size: 12px;
  }
}
