@import "../assets/scss/variables.scss";

.priceContainer {
  font-weight: bold;
  display: flex;
  gap: 5px;
  color: $special-orange;
  font-size: 7px;
  width: fit-content;
  @media (min-width: $breakpoint-md) {
    font-size: 8px;
  }
  @media (min-width: $breakpoint-xl) {
    font-size: 16px;
  }
}

.oldPrice {
  color: $special-black;
  font-weight: normal;
  display: flex;
  font-size: 5px;
  position: relative;
  width: fit-content;
  @media (min-width: $breakpoint-md) {
    font-size: 6px;
  }
  @media (min-width: $breakpoint-xl) {
    font-size: 12px;
  }
}

.oldPrice::before {
  content: "";
  display: block;
  width: 110%;
  height: 2%;
  background-color: $special-black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.priceInBucket {
  color: black;
  font-size: 12px;
}
