@import "../assets/scss/variables.scss";
.productImage {
  width: 154px;
  height: 88px;
  @media (min-width: $breakpoint-md) {
    width: 183px;
    height: 106px;
  }
  @media (min-width: $breakpoint-xl) {
    width: 345px;
    height: 200px;
  }
}
